#coho {
    padding: 5em;
    height: 100%;
    overflow: hidden;
        background:url('https://static1.squarespace.com/static/57a638c5ebbd1acee619193b/t/5b5f88baf950b77867e03e81/1529434543262/food+background.png?format=1500w');
}

#f{
    background:rgba(255,255,255,0.6);
}