#inside {
    padding: 5em;
    height: 100%;
    overflow: hidden;
    background:url('https://static1.squarespace.com/static/57a638c5ebbd1acee619193b/t/5b5f88baf950b77867e03e81/1529434543262/food+background.png?format=1500w');
}

#l, #si{
    font-family: 'Niramit', sans-serif;
}

#si{
    align-content: center;
    text-align: center;
}
#g{
    background-color: aqua;
}

#ñ{
    background-color: red;
}

#k{
    background-color: yellow;
}

#srch{
    background-color: #EE7600;
    border-color: #EE7600;
}

#h{
    align-content: center;
}

#de{
    font-family: 'Niramit', sans-serif;
}

h5{
    color: #808080
}


  
  .onButton{
    background-color: white;
    color: #EE7600;
    border-color: #EE7600;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Niramit', sans-serif;
    width: 90px;
    height: 40px;
    margin: 5px;
    border-width: 1px;
  }
  
  .offButton{
    background-color: #EE7600;
    color: white;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Niramit', sans-serif;
    width: 100px;
    height: 40px;
    margin: 5px;
    border-width: 0px;
  }

  #selec{
    font-family: 'Niramit', sans-serif;
  }